{# Marcella: Änderung für Timestamps auch auf Homepage #}

{%- if noteProps and (noteProps.created or noteProps.updated) -%}
<div class="timestamps">
  {%- if noteProps.created -%}
  <div><i data-lucide="calendar-plus"></i> <span class="human-date" data-date="{{noteProps.created}}"></span></div>
  {%- endif -%}
  {%- if noteProps.updated -%}
  <div><i data-lucide="calendar-clock"></i> <span class="human-date" data-date="{{noteProps.updated}}"></span></div>
  {%- endif -%}
</div>
{%- endif -%}
