{# Marcella: Änderung für Timestamps auch auf Homepage #}

{% if noteProps %}
  <div class="timestamps">
    {% if noteProps.created %}
      <p><strong>Created:</strong> {{ noteProps.created }}</p>
    {% endif %}
    {% if noteProps.updated %}
      <p><strong>Updated:</strong> {{ noteProps.updated }}</p>
    {% endif %}
  </div>
{% endif %}
