{# Marcella: Änderung für Timestamps auch auf Homepage #}

{%- if created or updated -%}
<div class="timestamps">
  {%- if created -%}
  <div><i data-lucide="calendar-plus"></i> <span class="human-date" data-date="{{created}}"></span></div>
  {%- endif -%}
  {%- if updated -%}
  <div><i data-lucide="calendar-clock"></i> <span class="human-date" data-date="{{updated}}"></span></div>
  {%- endif -%}
</div>
{%- endif -%}
